<div class="container" ng-controller="teacherCtrl" ng-app="teachers">
	<div class="panel panel-info">

		<div class="panel-body">
			<button type="button" class="btn btn-info" data-target="#AddNewTeacher" data-toggle="modal">
				<span>Add New</span>
			</button>
		</div>

		<div class="panel-heading">
			List of Teachers
		</div>
		
		<table class="table table-bordered centered">
			<thread style="background-color=blue;">
				<tr>
					<th> Teacher </th>
					<th> Name </th>
					<th> Birthday</th>
					<th> Salary </th>
				</tr>
			</thread>

			<tbody>
				<tr ng-repeat="teacher in Teachers">
					<td>{{teacher.Id}}</td>
					<td>{{teacher.Name}}</td>
					<td>{{teacher.Birthday}}</td>
					<td>{{teacher.Salary}}</td>

					<td style="width: 200px">
						<a href="#" class="btn btn-info">Update</a>
						<a href="#" class="btn btn-danger">Delete</a>

					</td>
				</tr>
			</tbody>
		</table>

	</div>

	
</div>

@section scripts{
	<script src="~/AngularJsApp/Teacher/Module.js"></script>
	<script src="~/AngularJsApp/Teacher/Service.js"></script>
	<script src="~/AngularJsApp/Teacher/Controller.js"></script>
}